﻿<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="top-buffer"></div>
        <div class="panel panel-danger">
            <div class="panel-heading">Нет доступа</div>
            <div class="panel-body">
                <section>
                    <h1 class="text-danger">Ты зашел слишком далеко...</h1>
                    <br />
                    <a href="javascript:void(0)" onClick="goBack()" class="btn btn-success">Назад</a>
                </section>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

@section scripts
{
    <script>
              
    </script>
}