@model vproker.Models.Client
@{
    ViewBag.Title = "Новый Клиент";
}
<div>
    <form asp-controller="Client" asp-action="Create" method="post">

        <div class="form-group row">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" placeholder="Фамилия Имя Отчество" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PhoneNumber" class="form-control" placeholder="Номер телефона" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Passport" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input id="passport" asp-for="Passport" class="form-control" placeholder="Серия и номер паспорта" />
                <span asp-validation-for="Passport" class="text-danger"></span>
                @*<div id="passportAlert" class="alert" role="alert" style="display: none; max-width:280px"></div>*@
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="DateOfBirth" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
        </div>
        @*<div class="form-group row">
            <label asp-for="Phone2" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Phone2" class="form-control" />
                <span asp-validation-for="Phone2" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Phone3" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Phone3" class="form-control" />
                <span asp-validation-for="Phone3" class="text-danger"></span>
            </div>
        </div>*@
        @*<div class="form-group row">
            <label asp-for="RegistrationAddress" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="RegistrationAddress" class="form-control" />
                <span asp-validation-for="RegistrationAddress" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="LivingAddress" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LivingAddress" class="form-control" />
                <span asp-validation-for="LivingAddress" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="WorkingAddress" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="WorkingAddress" class="form-control" />
                <span asp-validation-for="WorkingAddress" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="DiscountPercent" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DiscountPercent" class="form-control" placeholder="5" />
                <span asp-validation-for="DiscountPercent" class="text-danger"></span>
            </div>
        </div>*@
        @*<div class="form-group row">
            <label asp-for="KnowSourceID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="KnowSourceID" asp-items="@ViewBag.KnowSources" class="form-control"></select>
                <span asp-validation-for="KnowSourceID" class="text-danger"></span>
            </div>
        </div>*@
        <div class="form-group row">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea rows="2" cols="20" asp-for="Description" class="form-control" placeholder="Примечание"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-2">
                <input type="submit" class="btn btn-success pull-right" value="Создать" />
            </div>
            <div class="col-md-10">
                <a asp-action="Index" class="btn btn-danger">Отмена</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/ts/createClient.js"></script>
    <script type="text/javascript">
        vproker.CreateClient.render();
    </script>
}