@model vproker.Models.Client

<div>
    <form asp-controller="Client" asp-action="Update" method="post" asp-route-id="@Model.ID">
        @*<div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>*@
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Passport"></label>
            <input asp-for="Passport" class="form-control" placeholder="Серия и номер паспорта" />
            <span asp-validation-for="Passport" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="DateOfBirth"></label>
            <input asp-for="DateOfBirth" class="form-control" />
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>

        @*<div class="form-group">
            <label asp-for="DiscountPercent"></label>
            <input asp-for="DiscountPercent" class="form-control" />
            <span asp-validation-for="DiscountPercent" class="text-danger"></span>
        </div>*@

        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <input type="submit" class="btn btn-default" value="Сохранить" />
        <a href="javascript:void(0)" onClick="goBack()" class="btn btn-default">Назад</a>
    </form>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}