*.user
*.sln
*.db
node_modules
bin
obj
.vs
Properties/PublishProfiles
wwwroot/lib
vproker.db
/package-lock.json
/wwwroot/ts/*.js
/wwwroot/ts/*.map
/wwwroot/js/*.map
/wwwroot/js/*.min.js
/wwwroot/css/*.min.css
/wwwroot/js/history.js
/wwwroot/js/createOrder.js
