*.user
*.sln
*.db
*.csv
*.xls
node_modules
bin
obj
.vs
Properties/PublishProfiles
wwwroot/lib
vproker.db
/wwwroot/ts/*.js
/wwwroot/ts/*.map
/wwwroot/js/*.map
/wwwroot/js/*.min.js
/wwwroot/css/*.min.css
/wwwroot/js/history.js
/wwwroot/js/createOrder.js

