@model vproker.Models.Tool

@{
    ViewBag.Title = "Подтвердите удаление инструмента";
}

<h3>Удалить этот инструмент?</h3>

@if (ViewBag.Retry)
{
    <p class="alert-danger">Ошибка при удалении. Повторить?</p>
}

<div>
        <form asp-controller="Tool" asp-action="Delete" method="post">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>

    <div>
        <p>
            <input type="submit" class="btn btn-primary" value="Удалить" />
            <a asp-action="Index" class="btn btn-default">Отмена</a>
        </p>
    </div>
        </form>
</div>