@model IEnumerable<vproker.Models.Maintain>
@using Newtonsoft.Json
@using System.IO
@{
    ViewBag.Title = "Обслуживание инструмента";
    //var serializer = new JsonSerializer();
    //var stringWriter = new StringWriter();
    //using (var writer = new JsonTextWriter(stringWriter))
    //{
    //    writer.QuoteName = false;
    //    serializer.Serialize(writer, Model);
    //}
    //var json = stringWriter.ToString();
}
<link rel="stylesheet" href='~/css/maintain.css' />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css" />
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router@2.0.3"></script>

@section Scripts {
    <script type="text/javascript">
         @*debugger;
        var json = '@(json)';
        var obj = JSON.parse(json);*@
    </script>
}
<div class="container">
    <header class="page-header">
        <div class="branding">
            <h1>Обслуживание инструмента</h1>
        </div>
    </header>
    <main id="app">
        <router-view></router-view>
    </main>
</div>


<template id="item-list">
    <div>
        <div class="actions">
            <router-link class="btn btn-default" v-bind:to="{path: '/add-item'}">
                <span class="glyphicon glyphicon-plus"></span>
                Добавить запись
            </router-link>
        </div>
        <div class="filters row">
            <div class="form-group col-sm-3">
                <label for="search-element">Фильтр по названию</label>
                <input v-model="searchKey" class="form-control" id="search-element" requred />
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Дата</th>
                    <th class="col-sm-2"></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in filteredItems">
                    <td>
                        <router-link v-bind:to="{name: 'item', params: {item_id: item.id}}">{{ item.name }}</router-link>
                    </td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.date }}</td>
                    <td>
                        <router-link class="btn btn-warning btn-xs" v-bind:to="{name: 'item-edit', params: {item_id: item.id}}">Изменить</router-link>
                        <router-link class="btn btn-danger btn-xs" v-bind:to="{name: 'item-delete', params: {item_id: item.id}}">Удалить</router-link>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<template id="add-item">
    <div>
        <h2>Добавить новую запись об обслуживании</h2>
        <form v-on:submit="createItem">
            <div class="form-group">
                <label for="add-name">Название</label>
                <input class="form-control" id="add-name" v-model="item.name" required />
            </div>
            <div class="form-group">
                <label for="add-description">Описание</label>
                <textarea class="form-control" id="add-description" rows="10" v-model="item.description"></textarea>
            </div>
            <div class="form-group">
                <label for="add-date">Дата</label>
                <input type="datetime-local" class="form-control" id="add-date" v-model="item.date" />
            </div>
            <button type="submit" class="btn btn-primary">Создать</button>
            <router-link class="btn btn-default" v-bind:to="'/'">Отмена</router-link>
        </form>
    </div>
</template>

<template id="item">
    <div>
        <h2>{{ item.name }}</h2>
        <b>Description: </b>
        <div>{{ item.description }}</div>
        <b>Дата:</b>
        <div>{{ item.date }}</div>
        <br />
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        <router-link v-bind:to="'/'">Назад к списку</router-link>
    </div>
</template>

<template id="item-edit">
    <div>
        <h2>Изменить запись</h2>
        <form v-on:submit="updateItem">
            <div class="form-group">
                <label for="edit-name">Название</label>
                <input class="form-control" id="edit-name" v-model="item.name" required />
            </div>
            <div class="form-group">
                <label for="edit-description">Описание</label>
                <textarea class="form-control" id="edit-description" rows="3" v-model="item.description"></textarea>
            </div>
            <div class="form-group">
                <label for="edit-date">Дата</label>
                <input type="datetime-local" class="form-control" id="edit-date" v-model="item.date" />
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <router-link class="btn btn-default" v-bind:to="'/'">Отмена</router-link>
        </form>
    </div>
</template>

<template id="item-delete">
    <div>
        <h2>Удалить запись {{ item.name }}</h2>
        <form v-on:submit="deleteItem">
            <p>Действие не может быть отменено.</p>
            <button type="submit" class="btn btn-danger">Удалить</button>
            <router-link class="btn btn-default" v-bind:to="'/'">Отмена</router-link>
        </form>
    </div>
</template>

<script src='~/js/maintain.js'></script>