@model vproker.Models.CreateOrderModel
@{
    ViewBag.Title = "Новый Заказ";
}
<div>
    <form asp-controller="Order" asp-action="Create" method="post">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="ToolID" class="control-label"></label>
            <div>
                <select id="selectTool" asp-for="ToolID" class="form-control" asp-items="@ViewBag.Tools">
                    <option selected="selected" disabled="disabled">Выберите инструмент</option>
                </select>
            </div>
            <span asp-validation-for="ToolID" class="text-danger"></span>
            <div id="toolInfo" class="alert alert-info" role="alert" style="display: none; max-width:280px"></div>
        </div>

        <div class="form-group">
            <label asp-for="PhoneNumber"></label>
            <input id="phoneNumber" asp-for="PhoneNumber" class="form-control" placeholder="Телефон" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            <div id="clientInfo" class="alert alert-info" role="alert" style="display: none; max-width:280px"></div>
        </div>

        <div class="form-group">
            <label asp-for="Passport"></label>
            <input id="passport" asp-for="Passport" class="form-control" placeholder="Серия и номер паспорта" />
            <span asp-validation-for="Passport" class="text-danger"></span>
            <div id="passportAlert" class="alert" role="alert" style="display: none; max-width:280px"></div>
        </div>

        <div class="form-group">
            <label asp-for="ClientName"></label>
            <input id="clientName" asp-for="ClientName" class="form-control" placeholder="Фамилия Имя Отчество" />
            <span asp-validation-for="ClientName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="DateOfBirth"></label>
            <input id="dateOfBirth" asp-for="DateOfBirth" class="form-control" placeholder="День рождения" />
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ContractNumber"></label>
            <input asp-for="ContractNumber" class="form-control" placeholder="Номер договора" />
            <span asp-validation-for="ContractNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="PaidPledge"></label>
            <input asp-for="PaidPledge" class="form-control" placeholder="Сумма залога" />
            <span asp-validation-for="PaidPledge" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Usage"></label>
            <div>
                <textarea rows="2" cols="20" asp-for="Usage" class="form-control" placeholder="Как будет использоваться?"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <div>
                <textarea rows="2" cols="20" asp-for="Description" class="form-control" placeholder="Примечание"></textarea>
            </div>
        </div>

        <p>
            <input type="submit" class="btn btn-primary" value="Создать" />
            <a href="javascript:void(0)" onClick="goBack()" class="btn btn-default">Назад</a>
        </p>
    </form>
</div>
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/ts/api.js"></script>
    <script src="~/ts/order.create.js"></script>
    <script type="text/javascript">
        vproker.CreateOrder.render();
    </script>
}