@model IEnumerable<vproker.Models.Order>
@{
    ViewBag.Title = "История";
}
@section Scripts {
    @*<script src="~/ts/history.js"></script>*@
    <script type="text/javascript">
        vproker.History.render();
    </script>
}

<div class="container">
    <div id="toolbar">
        <div class="form-inline" role="form">
            <div class="form-group">
                <div class='input-group date' id='startPicker'>
                    <input name="start" type='text' class="form-control" placeholder="начало"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <div class='input-group date' id='endPicker'>
                    <input name="end" type='text' class="form-control" placeholder="конец"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

            <div class="form-group">
                <input name="searchString" class="form-control" type="text" placeholder="поиск по клиенту">
            </div>
            
<button id="ok" type="submit" class="btn btn-default btn-primary">Фильтр</button>
        </div>
        <div style="margin-top: 10px">
            <button id="download" class="btn btn-default">Скачать</button>
            <button id="clear" class="btn btn-default">Сбросить</button>
        </div>
    </div>

    <table id="table" class="table table-striped table-responsive"
           data-toggle="table"
           data-url="/api/order/history"
           data-toolbar="#toolbar"
           data-query-params="vproker.History.queryParams"
           data-sort-name="endDate"
           data-sort-order="desc"
           data-pagination="true"
           data-search="true"
           data-locale="ru-RU"
           data-show-refresh="true"
           data-show-toggle="true"
           data-show-columns="true"
           data-page-size="20">
        <thead>
            <tr>
                <th data-field="tool.name" data-sortable="true">@Html.DisplayNameFor(model => model.Tool)</th>
                <th data-field="contractNumber" data-sortable="true">Договор</th>
                <th data-field="createdBy" data-sortable="true">@Html.DisplayNameFor(model => model.CreatedBy)</th>
                <th data-field="startDate" data-sortable="true" data-formatter="vproker.History.dateTimeFormatter">Начало</th>
                <th data-field="endDate" data-sortable="true" data-formatter="vproker.History.dateTimeFormatter">Конец</th>
                <th data-field="clientName" data-sortable="true">@Html.DisplayNameFor(model => model.Client.Name)</th>
                <th data-field="clientPhoneNumber" data-sortable="true">@Html.DisplayNameFor(model => model.Client.PhoneNumber)</th>
                <th data-field="payment" data-sortable="true">Оплата</th>
                <th data-field="id" data-width="50" data-align="center" data-halign="center" data-formatter="vproker.History.idToActionsFormatter">Действия</th>
            </tr>
        </thead>
    </table>
</div>


