@model vproker.Models.Maintain
@{
    ViewBag.Title = "Новое представление";
}
<div>
    <form asp-controller="Maintain" asp-action="Create" method="post">
        @*<div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>*@
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" placeholder="Наименование" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <div>
                @Html.TextAreaFor(e => e.Description, 1, 55, null)
            </div>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Date"></label>
            <input asp-for="Date" class="form-control" placeholder="" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="FinishedDate"></label>
            <input asp-for="FinishedDate" class="form-control" placeholder="" />
            <span asp-validation-for="FinishedDate" class="text-danger"></span>
        </div>

        <input type="submit" class="btn btn-primary" value="Создать" />
        <a asp-action="Index" class="btn btn-default">Отмена</a>
    </form>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}