@model vproker.Models.Maintain
@{
    ViewBag.Title = "Редактирование Инструмента";
}
<div>
    <form asp-controller="Maintain" asp-action="Update" method="post" asp-route-id="@Model.ID">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ToolID" class="control-label"></label>
            <div>
                <select asp-for="ToolID" class="form-control" asp-items="@ViewBag.Tools">
                    <option selected="selected" disabled="disabled">Выберите инструмент</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <div>
                <textarea rows="2" cols="20" asp-for="Description" class="form-control" placeholder="Описание"></textarea>
            </div>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Materials"></label>
            <div>
                <textarea rows="2" cols="20" asp-for="Materials" class="form-control" placeholder="Расходные материалы"></textarea>
            </div>
            <span asp-validation-for="Materials" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control" placeholder="" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="EngineHours"></label>
            <input asp-for="EngineHours" class="form-control" placeholder="" />
            <span asp-validation-for="EngineHours" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Date"></label>
            <input asp-for="Date" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FinishedDate"></label>
            <input asp-for="FinishedDate" class="form-control" />
            <span asp-validation-for="FinishedDate" class="text-danger"></span>
        </div>
        <p>
            <input type="submit" class="btn btn-primary" value="Сохранить" />
            <a asp-action="Index" class="btn btn-default">Отмена</a>
        </p>
    </form>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // this is the way to allow ',' in decimal client validation
            // leaving here incase decimal places will be needed
            //$.validator.methods.number = function (value, element) {
            //    return this.optional(element) || /-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
            //}
        });
    </script>
}